.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.statements-card {
  width: 800px;
}

.mat-form-field {
  margin-left: 8px;
}

.label {
  width: 100px;
}

.description {
  width: 500px;
}
/* .form-column {
    float: left;
    padding-right: 10px;
  }

  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  } */
