<div class="center">
  <mat-card class="statements-card">
    <mat-card-title>Statements editor</mat-card-title>
    <mat-card-subtitle
      >Here you can manage the statements by which the items of your decision
      maker are ranked.
      <button
        mat-icon-button
        color="secondary"
        (click)="showInstructionsDialog()"
      >
        <mat-icon>info</mat-icon>
      </button></mat-card-subtitle
    >
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onAddStatementForm()"
        *ngIf="!editingNewStatement"
      >
        Add statement
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="statements-card" *ngIf="editingNewStatement">
    <mat-card-title>New statement</mat-card-title>
    <mat-card-content>
      <form
        [formGroup]="newStatementForm"
        (keydown)="onKeydownNewStatement($event)"
      >
        <div>
          <mat-form-field class="label">
            <input
              matInput
              type="text"
              formControlName="label"
              class="form-control"
              placeholder="Label"
            />
          </mat-form-field>
          <mat-form-field class="description">
            <input
              matInput
              type="text"
              formControlName="description"
              class="form-control"
              placeholder="Description"
            />
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            (click)="onSaveNew()"
            [disabled]="!this.newStatementForm.valid"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="onCancelNew()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="statements-card">
    <mat-card-title>Statements</mat-card-title>
    <mat-card-content>
      <form [formGroup]="statementsForm">
        <div formArrayName="statements">
          <div
            class="row"
            *ngFor="let statement of this.getStatementControls(); let i = index"
            [formGroupName]="i"
            (keydown)="onKeydownEditStatement($event, i)"
          >
            <mat-slide-toggle
              (change)="onToggleActive(i)"
              formControlName="active"
            ></mat-slide-toggle>
            <mat-form-field class="label">
              <input
                matInput
                type="text"
                formControlName="label"
                class="form-control"
              />
            </mat-form-field>
            <mat-form-field class="description">
              <input
                matInput
                type="text"
                formControlName="description"
                class="form-control"
              />
            </mat-form-field>
            <button
              mat-icon-button
              (click)="onSaveExisting(i)"
              *ngIf="
                !this.statementsForm.get('statements').controls[i].pristine
              "
              [disabled]="
                !this.statementsForm.get('statements').controls[i].valid
              "
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="onCancelModify(i)"
              *ngIf="
                !this.statementsForm.controls.statements.controls[i].pristine
              "
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
