<div class="center">
  <mat-card class="login-card">
    <mat-card-title>Log in</mat-card-title>
    <mat-card-subtitle
      >Enter your credentials to gain access to expert or admin
      pages.</mat-card-subtitle
    >
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div *ngIf="error">
          <p>{{ error }}</p>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label for="email">E-mail</mat-label>
            <input
              matInput
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
          /></mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input
              matInput
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </mat-form-field>
        </div>
        <div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!loginForm.valid"
          >
            Log in
          </button>
          <!-- <a href="/{{ sessionService.project.url }}/picker" mat-button> -->
          <a href="/" mat-button> Cancel </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
