.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items-card {
  width: 800px;
}

.mat-form-field {
  margin-left: 8px;
}

.label {
  width: 100px;
}

.url {
  width: 500px;
}

.imageLink {
  width: 530px;
}
