<div class="center">
  <mat-card class="items-card">
    <mat-card-title>Items editor</mat-card-title>
    <mat-card-subtitle
      >Here you can manage the items that are the topic of your decision maker.
      <button
        mat-icon-button
        color="secondary"
        (click)="showInstructionsDialog()"
      >
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-subtitle>
    <mat-card-content
      ><button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onAdditemForm()"
        *ngIf="!editingNewItem"
      >
        Add item
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="items-card" *ngIf="editingNewItem">
    <mat-card-title>New item</mat-card-title>
    <mat-card-content>
      <form
        [formGroup]="newItemForm"
        (keydown)="onKeydownNewStatement($event, i)"
      >
        <mat-form-field class="label">
          <input
            matInput
            formControlName="name"
            placeholder="Name"
            class="form-control"
          />
        </mat-form-field>
        <mat-form-field class="url">
          <input
            matInput
            formControlName="url"
            placeholder="Website"
            class="form-control"
          />
        </mat-form-field>
        <mat-form-field class="imageLink">
          <input
            matInput
            formControlName="imageLink"
            placeholder="Link to image"
            class="form-control"
          />
        </mat-form-field>
        <button mat-icon-button (click)="onSaveNew()">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="onCancelNew()">
          <mat-icon>cancel</mat-icon>
        </button>
      </form>
    </mat-card-content></mat-card
  >
  <mat-card class="items-card">
    <mat-card-title>Items</mat-card-title>
    <mat-card-content>
      <form [formGroup]="itemsForm">
        <div formArrayName="items">
          <div
            class="row"
            *ngFor="let item of this.getItemsControls(); let i = index"
            [formGroupName]="i"
            (keydown)="onKeydownEditStatement($event, i)"
          >
            <mat-slide-toggle
              (change)="onToggleActive(i)"
              formControlName="active"
            ></mat-slide-toggle>
            <mat-form-field class="label">
              <input matInput formControlName="name" class="form-control" />
            </mat-form-field>
            <mat-form-field class="url">
              <input matInput formControlName="url" class="form-control" />
            </mat-form-field>
            <mat-form-field class="imageLink">
              <input
                matInput
                formControlName="imageLink"
                class="form-control"
              />
            </mat-form-field>
            <button
              mat-icon-button
              (click)="onSaveExisting(i)"
              *ngIf="!this.itemsForm.get('items').controls[i].pristine"
              [disabled]="!this.itemsForm.get('items').controls[i].valid"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="onCancelModify(i)"
              *ngIf="!this.itemsForm.controls.items.controls[i].pristine"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
