.list-container-result {
  width: 400px;
  height: 200px;
  border: solid 1px #ccc;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: left;
  overflow-x: scroll;
}

.box-result {
  width: 100px;
  padding: 5px 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.result-title {
  width: 100px;
  height: 50px;
  margin: 0px;
  font-size: 14px;
}

.result-image {
  width: 100px;
  height: 150px;
  margin: 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 90%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
  align-content: center;
}
