<div class="center">
  <mat-card>
    <mat-card-title> Our recommendations</mat-card-title>
    <mat-card-content>
      <div class="list-container-result">
        <div class="box-result" *ngFor="let item of items">
              <div class="result-title">
                {{ item.name }} {{ item.score }}
                </div>
              <div class="result-image">
                <img mat-card-image src="{{ item.imageLink }}" />
              </div>
            </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
