a<mat-sidenav-container fullscreen>
  <mat-sidenav #menu>
    <mat-nav-list (click)="menu.close()">
      <a
        mat-list-item
        [routerLink]="(this.sessionService.project$ | async)?.url + '/picker'"
      >
        <mat-icon>remove_red_eye</mat-icon>
        <span>&nbsp;Picker</span>
      </a>

      <a
        mat-list-item
        routerLink="/statements"
        *ngIf="this.sessionService.isAdmin$ | async"
      >
        <mat-icon>error</mat-icon>
        <span>&nbsp;Statements</span>
      </a>

      <a
        mat-list-item
        routerLink="/items"
        *ngIf="this.sessionService.isAdmin$ | async"
      >
        <mat-icon>insert_link</mat-icon>
        <span>&nbsp;Items</span>
      </a>

      <a
        mat-list-item
        routerLink="/expert-rating"
        *ngIf="this.sessionService.isExpert$ | async"
      >
        <mat-icon>school</mat-icon>
        <span>&nbsp;Expert scores</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="menu.open()"
      *ngIf="this.sessionService.isUser$ | async"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="this.sessionService.project$ | async"
      >&nbsp;{{ (this.sessionService.project$ | async).title }}
    </span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      (click)="toggleLoginMenu()"
      routerLink="/login"
      *ngIf="!(this.sessionService.isUser$ | async)"
    >
      <mat-icon>login</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="logout()"
      *ngIf="this.sessionService.isUser$ | async"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
