.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expert-rating-card {
  width: 400px;
}

.mat-form-field {
  margin-left: 8px;
}

.selector-with-buttons {
  margin-left: 8px;
}
