<div class="center">
  <mat-card class="expert-rating-card">
    <mat-card-title>Scoring </mat-card-title>
    <mat-card-subtitle *ngIf="this.sessionService.project$ | async">
      Here you rate how you think to what extend a list of statements apply to
      the
      {{ (this.sessionService.project$ | async).itemDefinition.plural }}.
      <button
        mat-icon-button
        color="secondary"
        (click)="showInstructionsDialog()"
      >
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field *ngIf="this.sessionService.project$ | async">
        <mat-label
          >Select
          {{ (this.sessionService.project$ | async).itemDefinition.single }}
        </mat-label>
        <mat-select
          (selectionChange)="onSelectItem($event.value)"
          [disabled]="this.scoresFormArray.dirty"
        >
          <mat-option
            *ngFor="let item of this.items$ | async"
            [value]="item._id"
          >
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        class="selector-with-buttons"
        mat-raised-button
        color="primary"
        *ngIf="this.itemSelected"
        [disabled]="!this.scoresFormArray.dirty || this.scoresForm.invalid"
        (click)="onSaveScores()"
      >
        Save
      </button>
      <button
        class="selector-with-buttons"
        mat-raised-button
        color="danger"
        *ngIf="this.itemSelected"
        [disabled]="!this.scoresFormArray.dirty"
        (click)="onCancelChanges()"
      >
        Cancel
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="expert-rating-card" *ngIf="this.itemSelected">
    <mat-card-title>Statements</mat-card-title>
    <mat-card-content>
      <form [formGroup]="scoresForm">
        <div formArrayName="scores">
          <div
            class="row"
            *ngFor="
              let score of scoresForm.get('scores').controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <mat-form-field>
              <input
                matInput
                type="text"
                readonly
                formControlName="statement"
                class="form-control"
            /></mat-form-field>

            <mat-form-field>
              <input
                matInput
                type="number"
                formControlName="score"
                class="form-control"
            /></mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
