<mat-card class="main-card">
  <mat-card-title> Your preference</mat-card-title>
  <mat-card-subtitle>Drag the things you like to the green field and the things you don't like
    to the red field. The decision maker will give the items decreasing
    importance from top to bottom. You can change this order by dragging the
    items and in this way indicate their relative importance for
    you.</mat-card-subtitle>
  <mat-card-content>
    <div id="neutral" cdkDropList #neutralList="cdkDropList" [cdkDropListData]="this.neutralStatements"
      [cdkDropListConnectedTo]="[likeList, dislikeList]" class="list-container-neutral"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let statement of this.neutralStatements" cdkDrag>
        <mat-card *cdkDragPreview class="outer-box-neutral">
          <mat-card-content>
            {{ statement.label }}
          </mat-card-content>
        </mat-card>
        <mat-card matTooltip="{{ statement.description }}" class="outer-box-neutral">
          <mat-card-content>{{ statement.label }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="center">
  <mat-card-content>
    <div id="scored" cdkDropList #likeList="cdkDropList" [cdkDropListData]="this.likedStatements"
      [cdkDropListConnectedTo]="[neutralList, dislikeList]" class="list-container-scored"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let statement of this.likedStatements" cdkDrag>
        <mat-card *cdkDragPreview class="outer-box-neutral">
          <mat-card-content>{{
            statement.label
            }}</mat-card-content>
        </mat-card>
        <mat-card *ngIf="statement.liked == 1" class="outer-box-scored liked">
          <mat-card-content matTooltip="{{ statement.description }}" class="inner-box-scored"
            matBadge="+{{ statement.score }}" matBadgeColor="primary" matBadgePosition="before" matBadgeOverlap="false">
            {{ statement.label }}
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="statement.liked == -1" class="outer-box-scored disliked">
          <mat-card-content matTooltip="{{ statement.description }}" class="inner-box-scored"
            matBadge="-{{ statement.score }}" matBadgeColor="accent" matBadgePosition="after" matBadgeOverlap="false">
            {{ statement.label }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>