.main-card {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-container-scored {
  padding: 20px;
  width: 200px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(to right,
      #47fa00 0%,
      #47fa00 50%,
      #ff0202 50%,
      #ff0202 100%);
}

.list-container-neutral {
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
}

.inner-box-scored {
  padding: 0px 0px;
  min-height: 0px;
  font-size: 14px;
  padding: 2px;
  width: 100%;
}

.liked {
  text-align: left;
  background-color: #c5fab0;
}

.disliked {
  text-align: right;
  background-color: #ffa3a3;
}

.outer-box-scored {
  padding: 5px 5px;
  margin: 2px;
  min-height: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  border: solid 1px #ccc;
  border-radius: 5px;
  width: 100%;
}

.outer-box-neutral {
  padding: 5px 5px;
  margin: 2px;
  min-height: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}